/* src/index.css */
/* src/index.css */
@import url('<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">');
@import url('<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">');
@import url('<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">');

@tailwind base;
@tailwind components;
@tailwind utilities;

.imagepara{
    opacity: 0;
    animation: fadein 5s forwards;
    animation: flashin 5s forwards;
    padding: 1rem;
    font-size: 40px;
}

.paradiv{
    left: 3rem;
    width: 350px;
    height: 250px;
    animation: flashin 3sec forwards;
    background-color: rgba(1, 1, 1, 0.5);
}
.imagemove{
    position: relative;
    animation: imagemove 1s ease;
    border-radius: 10px;
    object-fit: contain;
}
.imagemove2{
    position: relative;
    animation: imagemove2 1s ease;
    border-radius: 10px;
    object-fit: contain;
}

@keyframes imagemove{
    from{left:-100px}
    to{left:0px}
}
@keyframes imagemove2{
    from{right:-100px}
    to{right:0px}
}

@keyframes flashin{
    to{
        opacity: 1;   
    }
}

@keyframes fadein{
    to {
        opacity: 1;
    }
}



@media screen and (max-width:767px){
    .imagepara{
        font-size: 25px;
    }

    .paradiv{
       
        width: 300px;
        height: 250px;
        
    }
}

@media screen and (max-width:500px) {

    .imagepara{
        font-size: 25px;
    }
    .paradiv{
        height: 200px;
        width: 200px;
    }
}




.gridcontainer {
    grid-template: 300px 300px 300px 300px/ 1fr 1fr 1fr ;

}
.image{
    
    object-fit: cover;
   
}

.beforemovediv1:hover .gridimage{
    transition: all 0.5s ease;
}

.gridimage:hover .activitydiv:hover {
    transform: scale(0.9); /* Slight zoom on hover */
  }


.activitydiv{
    transition: transform 0.3s ease-in;
}


@media screen and (max-width:700px){
    .gridcontainer{
        grid-template: 1fr/ 1fr;
        width: 100vw;
        height: auto;
    }
}

/* arrow properties*/

.arrow{
  
    font-size: 24px;
    color: #333;
  
}
.smallcardimage{
    transition: 1s ease;
}


.smallcardimage:hover{
    transform: translateY(-10px);
}

/* main page second div explaination*/
.introdiv::first-letter{
    font-size: 45px;
    line-height: 1.0;
}

/*/secondfooter */

.thispara::first-letter {
    font-size: 2em;
    font-weight: bold;
  }

.secondgridcontainer{
    display: grid;
    grid-template: 1fr/20fr 30fr;
}

.secondgridcontainer2{
    display: grid;
    grid-template: 1fr/30fr 20fr;
}

@media screen and (max-width:700px){
    .secondgridcontainer,.secondgridcontainer2{
        grid-template: 1fr/1fr;
        width: 100vw;
        height: auto;
    }
}

/* doing business grid image animation*/


.buinessimage1:hover{
    position: relative;
    animation: imagemove 3s ease;
}

.businessimage2:hover{
    position: relative;
    animation: imagemove2 2s ease;
}

/* Arrow at whyfroningen page animation*/
.animationarrow{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #325f46; /* Color of the arrow */
    animation: moveArrow 2s ease-in-out infinite alternate;

}

@keyframes moveArrow {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(30px);
    }
  }

  /*working in groningen page pagecard hover effect*/


  /* before you move page grid */
  .beforeyoumovegrid{
    grid-template: 300px 300px 300px 300px/ 1fr 1fr 1fr ;
  }

  .beforeyoumovefirstletter::first-letter{
    font-size: 2em;
    font-weight: bold;
    line-height: 1.0;
  }
.beforeyoumoveheading{
    position: relative;
    animation: beforemovediv 2s ease;
}

 @keyframes beforemovediv{
    from{right:100px}
    to{right:0px}
}
/*relocating-- beforeyoou movepage*/



/* befor you move grid on study in groningen page*/

.gridarrow{
    transition: all 1s ease;
}

.beforemovegrid:hover .gridarrow{
    transform: scale(0.9) translateX(20px); /* Slight zoom on hover */
  }

  @media screen and (max-width:700px){
    .beforeyoumovegrid{
        grid-template: 1fr/1fr;
        width: auto;
        height: auto;
    }
}

.searcharrow{
    transition: all 1s ease;
}

.searchdiv:hover .searcharrow{
    transform: scale(0.9) translateX(30px); /* Slight zoom on hover */
  }


  /* login nav Dropdown menu*/
  .dropbtn {
   
    border: none;
  }

.dropdown{
    position: relative;
    display: inline-block;
    
}
.dropdown-content{
    display: none;
    position: fixed;
    min-width: 200px;
    box-shadow: 8px;
    z-index: 1;
    margin-left: 2rem;
    margin-right: 3rem;   
}
.dropdown-content a{
  color: black;
  padding: 10px 10px;
  display: block;
  width: 100%;
  border: gray 1px;
 
}

.dropdown-content a:hover {
    background-color:whitesmoke;
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
   
    display: block;
    width: 100vw;
    left: 0;
    right: 0;
}

.dropdown:hover .dropbtn {
    background-color: white;
    text-decoration: underline ;
}





.outarrowdiv:hover .outarrow{
    transform: scale(0.9) translateX(20px); /* Slight zoom on hover */
}
.outarrow{
    transition: all 1s ease;
}
